:root{
	--white: #E2D6C5;
	--black: #000000;
	--dark_amber: #FFB000;
	--light_amber: #FFCC00;
	--text: var(--white);
	--bg: var(--black);
	--blue: #729fcf;
	--green: #33D17A;
	--lime_green: #AFAF00;
	--purple: #675cff;
	--red: #FF0000;
	--pred: #ff005d;
	--gasoline: #87FFAF;
	--fontsize: 14pt;
	--media-width: 640px;

}

html {
    font-family: monospace;
	font-size: var(--fontsize);
    color: var(--text);
    background-color: var(--bg);
}

body {
-webkit-text-size-adjust: none;
   -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
        text-size-adjust: none;


    margin-left: 20px;
    margin-right: 20px;
	overflow: visible
}

p {
    /*line-height: 1.5 ;*/
    /*margin-top: 0 ;*/
    /*margin-bottom: 0 ;*/
	/*white-space: pre-wrap;*/
}

pre {
    line-height: 1.5 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
}

table {
    border: 1px solid #E2D6C5;
    width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 75%;
}

audio {
	width: var(--media-width)
}

#content {
    width: 72ch;
}

a:link {
	color: var(--green);
}
a:visited {
	color: var(--green); 
}
a:active {
	color: var(--red)
}

#header {
	margin-left: 20px;
}

#logo {
	font-weight: bold;
	color: var(--text)
}

#content{
	margin-left: 20px;
    border: 1px;
    /* border-style: solid; */
    /* border-color: #A2734C; */
    /* background-color: #000000; */
}
.links {
	margin-right: 10px;
	font-size: var(--fontsize);
	text-decoration: underline;
}
.link-block {
	border: 1px solid var(--text);
	padding: 15px;
	width: var(--media-width);
	margin: 15px;
	/*display: inline-block;*/
}

.project-block {
	border: 1px solid var(--text);
	padding: 15px;
	margin: 15px;
    width: var(--media-width);
	display: inline-block;
}

/* audio {
    width: 640px;
} */

.link-block-wrapper {
}

.table-header{
	text-align: left;
	border-bottom: 1px solid var(--white);
}


.hd {
    font-weight: normal;
	color: #33D17A;

    line-height: 1.5 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.paragraph {
	color: #197F50;
}

.dithered-images {
	image-rendering: pixelated;
	/*max-width: 745px;*/
	/*min-width: 1064px;*/
	display: block;
}

