html {
    font-family: monospace;
	font-size: 17px;
    color: #E2D6C5;
    background-color: black;
}

body {
    margin-left: 20px;
}

.table-header{
	text-align: left;
	color: #33D17A;
}


table {
    border: 1px solid #E2D6C5;
    width: 100%;
}

td {
    /* border-right: 1px solid #E2D6C5; */
    border-bottom: 1px solid #E2D6C5;
}

p {
    line-height: 1.5 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
	white-space: pre;
}

a:link {
    color: #2A7BDE; 
}

a:visited {
    color: #2A7BDE; 
}

.hd {
    font-weight: normal;
	color: #33D17A;

    line-height: 1.5 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.paragraph {
	color: #197F50;
}

#content{
    margin: 50px;
    border: 1px;
    /* border-style: solid; */
    /* border-color: #A2734C; */
    /* background-color: #000000; */
}
